body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #212B36;

}
.header{
object-fit: cover;  

}
img{
object-fit: cover;
}
.logo{
    width: 133px;
    height: 40px;
    background-image: url('../hinhanh/logo.png');
  
   margin-top: -44px;
   margin-left: 20px;    
}
.ad2{
    margin-left: 157px;
}
nav{
    background-color: #12171B;
    height: 50px;
    text-align: left;  
 
    
   
}
ul.khungnav li a{
    color: #8e95a5;
}
ul.khungnav li a:hover{
   color: white;
    
}

nav a{
    color: white;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    margin: 10px;
    margin-left: 50px;  
}
nav .timkiem{
    border-radius: 8px;
    margin-left: 900px;
    width: 400px;
   height: 35px;
   position: absolute;
   margin-top: -42px;

 
   
}
nav .khungnav{
    margin-left: 100px;
    margin-top: -98px;
    
}

nav .khungdn{
   
    
    margin-left: 1410px;
    
   position: absolute;
  margin-top: -61px;
 
}

.body{
    min-height: 80vh;
    display: flex;
    background-color: #212B36;
    
}
.body aside{
    /* min-height: 80vh; */
    width: 65%;
    display:flex;
    flex-wrap: wrap;
    margin-left: 45px;
    font-weight: bold;
    
}
.body aside .anime{
    width: 192px;
    height: 285px;
    margin: 10px;
    text-align: center;
    object-fit: cover;
   
}
/* .body aside .anime .tieude{
   color: burlywood;
   
} */


body .right{
  
     position: sticky;
    
  
  
  margin-right: 0px;
    top: 0;
    
}

body .right .noibat{
    width: 100%;
    height: 190px;
    margin-top: 10px;
    object-fit: cover;
    
  
   
}

footer{
    margin-top: 6px;
    height: 100px;
    width: 100%;
    background-color: #151D25;
    color: gray;
    text-align: center;
    padding-top: 1px;


}   
.anime{
    overflow: hidden;
}
.anime img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.anime:hover img{
    opacity: 0.6;
    transform: scale(1.1);
    transition: 0.5s;

}
.noibat{
    overflow: hidden;
}
.noibat img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.noibat:hover img{
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.6;
}
.bxhchinh:hover img{
    opacity: 0.6;
}
.truyenchinh:hover img{
    opacity: 0.6;
}
/* .khungdn:hover img{

} */
.theloaichinh:hover a{
 
 font-size: 19px;
}








nav ul li{
    display: inline-block;
    
    position: relative;
}
li ul.theloainho{
    position: absolute;
    background-color: white;
    top: 40px;
    padding: 0;
    width: 180px;
    border-radius: 10px;
    display: none;
}
ul.theloainho li {
    display: block;

    margin-left: -7px;
    border-bottom: 1px dashed orange;
}
li ul.theloainho li a{
    color: black;
    font-weight: bold;
    margin-left: 40px;
    
}

ul.theloainho li:hover{
    background-color: orange;
}
ul.theloainho li{
    margin-left: 0px;
    width: 180px;
    border-radius: 10px;
}

ul.theloainho li:hover a{
    color: white;
}
li.theloai:hover ul.theloainho{
    display: block;
}
ul{
    margin-top: 0px;
}
.slideshow-container {
  max-width: 100%;
  object-fit: cover;
 
 
}
ul{
    margin-top: 0px;
}

@media all and (max-width:700px){
    aside{
        width: 100%;
    }
    aside div{
        
        width: 100%;
   
    }
    
}



